/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 15px;
}

input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.section {
    width: 48%; /* Chacune des sections prendra 48% de la largeur */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    padding: 10px 0;
    margin-bottom: 20px;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
}

nav ul :hover {
    background-color: #45a049;
}

html {
    scroll-behavior: smooth;
}

